.header-container{
    background-color: rgb(32, 204, 147);
    border-radius: 3px;
    height: 50px;
    margin: 10px auto;
    width: 98%;
    padding: 10px;
    display: flex;
    align-items: center;
    top: 10px;
    left: 20px;
    outline: 10px rgba(5, 5, 5, 0.397) solid;
    z-index: 50;
    position: absolute;
}

.title-header{
    margin:0  20px;
    width: 100%;
    font-size: 28px;
}