input{
    padding: 5px;
    font-size: 12px;
    background: transparent;
    border: none!important;
    border-bottom: 2px solid!important;
    outline: none;
}

input[type=submit]{
    padding: 5px 20px;
    font-size: 20px;
    background: transparent;
    border: none!important;
    border-radius: 5px;
    background: rgb(32, 204, 147)
    
}